body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

.navbar {
  background: #3333337f;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
#backBtn {
  height: 40px;
  align-self: center;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #5b604c;
  color: white;
  border-radius: 6px;
}
.tabs {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.tabs button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: #5b604c;
  color: white;
  border-radius: 6px;
}

.content {
  padding: 20px;
}

.tab {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

button.action {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ban { background: #e74c3c; color: white; }
.approve { background: #2ecc71; color: white; }
.reject { background: #f39c12; color: white; }
.delete { background: black; color: white; }